@page
@model ForgotPasswordConfirmation
@inject SkaiLab.Invoice.Models.IAppResource ShareLocalizer
@{
    ViewData["Title"] = ShareLocalizer.GetResource("Forgot password confirmation");
    Layout = "~/Pages/Shared/_AccounntLayout.cshtml";
}
<form asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-action="./ForgotPasswordConfirmation?culture=@Model.Culture&id=@Model.Id&email=@Model.Email">
    <div class="container unified_container ">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img alt="Company Logo" class="companyLogo" src="~/logo.jpeg">
                        <div id="api" data-name="Unified">
                            <div class="localAccount" role="form">
                                <div class="intro">
                                    <h2>
                                        @ViewData["Title"]
                                    </h2>
                                </div>
                                @if (Model.Errors.Any())
                                {
                                    <div class="text-danger validation-summary-errors">
                                        <ul>
                                            @foreach (var error in Model.Errors)
                                            {
                                                <li>@error</li>
                                            }
                                        </ul>
                                    </div>
                                }
                                <div class="entry">
                                    <div class="entry-item">
                                        <input asp-for="Input.VerificationCode" type="text" autocomplete="off" class="input-text" placeholder="​@ShareLocalizer.GetResource("Verification Code")" />
                                    </div>
                                    <div class="buttons verify" claim_id="email" style="margin-top:0px">
                                        <button id="email_ver_but_resend" onclick="sendNewCode('@Model.Id')" class="sendButton" type="button" style="display: inline;">@ShareLocalizer.GetResource("Send new code")</button>
                                    </div>
                                    <div class="entry-item">

                                        <input type="password" class="input-text" autocomplete="off" asp-for="Input.Password" placeholder="​@ShareLocalizer.GetResource("Password")">
                                    </div>
                                    <div class="entry-item">

                                        <input type="password" class="input-text" autocomplete="off" asp-for="Input.ConfirmPassword" placeholder="​@ShareLocalizer.GetResource("Confirm Password")">
                                    </div>
                                    <div class="buttons">
                                        <button type="submit" id="next">​@ShareLocalizer.GetResource("Submit")</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <script type="text/javascript">
        function sendNewCode(id) {
            $("#preloader").show();
            $.get("/api/account/SendNewCode?id=" + id,
                function (data) {
                    $("#preloader").hide();
                });
        }
    </script>
}